.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-gallery img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .image-gallery img:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .image-gallery img {
    grid-column: span 1;
  }